@import "variables";
@import "placeholders";

.contact
{
  @extend .sections-padding;
  .holder
  {
    margin-top: 4rem;
    .left
    {
        .contact-img
        {
            width: 100%;
        }
    }
    .right
    {
        .contact-subtitle
        {
            font-size: 25px;
            font-weight: 600;
            margin-top: .5rem;
        }
        .personal-number
        {
            display: flex;
            @include flex(start,left,row,wrap);
            margin-top: 1rem;
            .personal-number-a
            {
                .personal-number-num
                {
                    color: $primaryColor;
                    margin: 0 0 0 5px;
                    &:hover
                    {
                        text-decoration: underline !important;
                    }
                }
            }
            .personal-number-p
            {
                width: 100%;
            }
        }
        .contact-form
        {
            .form-holder
            {
                .inputs
                {
                    border: 2px solid $sixthColor;
                    outline: none;
                    height: 40px;
                    width: 100%;
                    padding: 5px 10px;
                }
                .textarea-input
                {
                    height: 130px;
                    margin-top: 1rem;
                }
            }
            .submit 
            {
                margin: 0.5rem 0 0;
            }
        }
    }
  }
}


// Start Media Query //
@media (max-width: 1200px) and (min-width: 768px)
{
    .contact
    {
        .holder
        {
            .right
            {
                .contact-subtitle
                {
                    margin-top: 0;
                }
            }
        }
    }
}
@media (max-width: 992px) and (min-width: 768px)
{
    .contact
    {
        .holder
        {
            .left
            {
                background-image: url('../../../assets/images/contact.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 40%;
                .contact-img
                {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 768px)
{
    .contact
    {
        .holder
        {
            margin-top: 3rem;
            .right 
            {
                .contact-subtitle
                {
                    margin-top: 0;
                    font-size: 22px;
                }
                .contact-form
                {
                    .form-holder
                    {
                        .email-box
                        {
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}
// End Media Query //