@import "loading_animation.scss";
@import "variables";
@import "placeholders";
@import "navbar";
@import "header";
@import "services";
@import "why_me";
@import "skills";
@import "projects";
@import "footer";
@import "contact_me";