@import "loading_animation.scss";
@import "variables";
@import "placeholders";
@import "navbar";
@import "header";
@import "services";
@import "why_me";
@import "skills";
@import "projects";
@import "footer";
@import "contact_me";

.skills-overlay
{
    background-image: url(../../../assets/images/bg_dots.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}