@import "variables";
@import "placeholders";
@import "navbar";

.job-title-animation 
{
  animation:typing 4s steps(22,end) normal,
            blink 4s normal;
}
header
{
  background-image: url(../../../assets/images/header_bg.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
  position: relative;
  @include flex(center,center,row,wrap);
  .particles
  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .overlay
  {
    position: absolute;
    background-color: $thirdColor;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: 1;
  }
  .holder
  {
    position: absolute;
    width: 305px;
    text-align: center;
    z-index: 3;
    .img-holder
    {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      .my-pic
      {
        border: 4px solid $sixthColor;
        padding: 3px;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .name
    {
      margin: .5rem 0 .3rem;
      .highlight
      {
          color: $primaryColor;
      }
    }
    .job
    {
      font-size: 21px;
      font-weight: 100;
      .job-title
      {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        display: inline-flex;
        text-align: left;
        width: 215px;
      }
    }
    .scroll-btn {
      display: block;
      position: absolute;
      bottom: -60%;
      left: 0;
      right: 0;
      text-align: center;
    }
    .scroll-btn > * {
      display: inline-block;
      line-height: 18px;
      font-size: 13px;
      font-weight: normal;
      color: #7f8c8d;
      color: #ffffff;
      font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 2px;
    }
    .scroll-btn > *:hover,.scroll-btn > *:focus,.scroll-btn > *:active,.scroll-btn > *.active {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
    .mouse {
      position: relative;
      display: block;
      width: 35px;
      height: 55px;
      margin: 0 auto;
      box-sizing: border-box;
      border: 3px solid $sixthColor;
      border-radius: 23px;
    }
    .mouse > * {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: $primaryColor;
      border-radius: 50%;
      animation: ani-mouse 2s linear infinite;
    }
  }
}
// Start animation for job text //
@keyframes typing {
  0%,50% { width:0 }
  40%,100% { width:215px }
}
@keyframes blink {
  0%,20%,40%,60%,80%,100% {
    border-right:2px solid transparent;
  }
  10%,30%,50%,70%,90% {
    border-right:2px solid #222;
  }
}
// End animation for job text //

// Start animation for scroll down btn //
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
// End animation for scroll down btn //


// Start Media Query //
@media (max-width: 1200px)
{
  header
  {
    height: 620px;
    .holder
    {
      .scroll-btn {
        bottom: -40%;
      }
    }
  }
}
@media (max-width: 992px)
{
  header
  {
    height: 570px;
  }
}
// End Media Query //