@import "variables";

/* ---------- Start Button to top ----------- */
.btn_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border-radius: 5px;
    border: none !important;
    outline: none !important;
    background-color: $primaryColor;
    cursor: pointer;
    padding: 20px 25px 20px;
    opacity: .5;
    transition: all .5s;
    display: none;
    .arrow
    {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
    }
    &:hover 
    {
        background-color: $primaryColor;
        opacity: 1;
        transform: translate(0,-5px);
    }
}
/* ---------- End Button to top ----------- */

/* Start Global */
*
{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}
html
{
  scroll-behavior: smooth;
}
body 
{
  background-color: $whiteColor;
  font-family: 'Poppins', sans-serif;
}
.sections-padding
{
    padding-top: 5em;
    padding-bottom: 5em;
}
p 
{
    color: $firstColor;
}
.standard-btn
{
    // margin-top: .5em;
    // display: inline-block;
    // color: $fifth-color;
    // text-transform: capitalize;
    // font-size: 14px;
    // font-family: $font-family-en-medium;
    // padding: 7px 25px;
    // border: 1px solid $third-color;
    // border-radius: 20px;
    // background-color: $first-color;
    // transition: all .2s;
    // &:hover
    // {
    //     background-color: $third-color;
    //     color: $first-color;
    // }
}
.fixed-title
{
    // font-size: 15px;
    // text-transform: uppercase;
    // font-family: $font-family-en-medium;
    // color: $fourth-color;
}
.fixed-subtitle
{
    // font-family: $font-family-en-bold;
    // color: $second-color;
    // margin: .6em 0;
}
.special-subtitle
{
    // font-family: $font-family-en-medium;
    // color: $second-color;
    // margin-top: 1em;
}
@mixin flex($align, $justify, $flow,$wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $flow;
    flex-wrap: $wrap;
  }
/* End Global */

// Start Global Media Query //
// @media (min-width: 991px) 
// {
//     .container
//     {
        // max-width: 960px;
//     }
// }
// End Global Media Query //