@import "variables";

/* ---------- Start Button to top ----------- */
.btn_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border-radius: 5px;
    border: none !important;
    outline: none !important;
    background-color: $primaryColor;
    cursor: pointer;
    padding: 20px 25px 20px;
    opacity: .5;
    transition: all .5s;
    display: none;
    .arrow
    {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
    }
    &:hover 
    {
        background-color: $primaryColor;
        opacity: 1;
        transform: translate(0,-5px);
    }
}
/* ---------- End Button to top ----------- */

/* Start Global */
*
{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}
html
{
  scroll-behavior: smooth;
}
body 
{
  background-color: $whiteColor;
  font-family: 'Poppins', sans-serif;
}
.sections-padding
{
    padding-top: 5em;
    padding-bottom: 5em;
}
p 
{
    color: $firstColor;
}
.title-box
{
    position: relative;
    display: table;
    margin: 0 auto;
    .fixed-title
    {
        position: relative;
        font-size: 35px;
        text-transform: capitalize;
        color: $firstColor;
        z-index: 2;
        margin: 0;
    }
    .title-bg
    {
        width: 100%;
        height: 10px;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 5px;
        opacity: .5;
        background-color: $primaryColor;
    }
}
@mixin flex($align, $justify, $flow,$wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $flow;
    flex-wrap: $wrap;
  }