@import "variables";
@import "placeholders";

.paginations
{
  display: none;
}
.projects
{
  @extend .sections-padding;
  background-color: $thirdColor;
  .holder
  {
    margin-top: 4rem;
    .project-card 
    {
      margin-bottom: 1rem;
      .anchor-holder
      {
        position: relative;
        display: block;
        overflow: hidden;
        .project-img
        {
          position: relative;
          width: 100%;
          z-index: 1;
        }
        .overlay
        {
          position: absolute;
          left: 0;
          bottom: -100%;
          height: 100%;
          width: 100%;
          background-color: $primaryColor;
          z-index: 2;
          text-align: center;
          padding: 1rem;
          color: $whiteColor;
          transition: .2s all;
          .overlay-content
          {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%,-50%);
            .title-label
            {
              opacity: 0.8;
            }
            .project-title
            {
              color: $whiteColor;
            }
          }
        }
        &:hover
        {
          .overlay
          {
            bottom: 0;
          }
        }
      }
    }
  }
}