@import "variables";
@import "placeholders";

.services
{
    @extend .sections-padding;
    .holder
    {
        margin-top: 4rem;
        .service-card
        {
            text-align: center;
            margin-bottom: .5rem;
            padding-right: 10px;
            padding-left: 10px;
            .service-icon
            {
                width: 40px;
                height: 40px;
                margin-bottom: 0.5rem;
                transition: all .2s;
            }
            .service-title
            {
                font-size: 18px;
                transition: all .2s;
            }
            .service-content
            {
                font-size: 15px;
            }
            &:hover
            {
                .service-title
                {
                    color: $primaryColor;
                }
                .service-icon
                {
                    filter: invert(56%) sepia(79%) saturate(1681%) hue-rotate(11deg) brightness(106%) contrast(108%);
                }
            }
        }
    }
}