@import "variables";
@import "placeholders";

.skills
{
  padding: 6em 0;
  position: relative;
  .skills-overlay
  {
    background-image: url(../../../assets/images/bg_dots.png);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .7;
    top: 0;
    left: 0;
  }
  .holder
  {
    margin-top: 4rem;
    position: relative;
    z-index: 2;
    .skill-special-margin
    {
      margin: 0 1px .5rem;
    }
    .skill-card
    {
      margin-bottom: 1rem;
      padding: 0 5px;
      overflow: hidden;
      .skill-content
      {
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        border: 2px solid $secondColor; 
        background-color: $whiteColor;
        width: 180px;
        transition: .2s all;
        overflow: hidden;
        margin: 0 auto;
        .skill-title
        {
          position: relative;
          background-color: $thirdColor;
          text-align: center;
          margin: 0;
          font-size: 22px;
          padding: 6px 0;
          transition: .2s all;
          z-index: 2;
        }
        .skill-img
        {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 1;
          width: 30px;
        }
        .special-width
        {
          width: 50px;
        }
        &:hover
        {
          border-color: $primaryColor;
          .skill-title
          {
            transform: translate(0, -40px);
          }
        }
      }
    }
    .sepcial-skill-card
    {
      text-align: center;
      margin-top: .5rem;
      .ml6 
      {
        position: relative;
        font-weight: 900;
        font-size: 25px;
        .text-wrapper {
          position: relative;
          display: inline-block;
          padding-top: 0.2em;
          padding-right: 0.05em;
          padding-bottom: 0.1em;
          overflow: hidden;
        }
        .letter {
          display: inline-block;
          line-height: .8em;
        }
      }
    }
  }
}

// Start Media Query //
@media (max-width: 1200px) and  (min-width: 992px)
{
  .skills
  {
    .holder
    {
      .skill-card
      {
        .skill-content
        {
          width: 150px;
        }
      }
    }
  }
}
@media (max-width: 992px) and  (min-width: 576px)
{
  .skills
  {
    .holder
    {
      .skill-special-margin
      {
        margin: 0 0 .5rem;
      }
      .skill-card
      {
        .skill-content
        {
          width: 150px;
        }
      }
    }
  }
}
@media (max-width: 576px)
{
  .skills
  {
    .holder
    {
      .skill-card
      {
        .skill-content
        {
          width: 250px;
        }
      }
    }
  }
}
// End Media Query //