
// $primaryColor: #00D4BD;
$primaryColor: #f3a601;
$firstColor: #252525;
$secondColor: #5c5c5c;
$thirdColor: #f4f4f4;
$fourthColor:#C3C4C7; 
$fifthColor:#181818; 
$whiteColor: #ffffff;
$regular-box-shadow: 0 0 10px #EAE5EE;
$transition-200ms: 0.2s ease-in-out;