
// $primaryColor: #00D4BD;
$primaryColor: #ffae00;
$firstColor: #252525;
$secondColor: #0F0E0F;
$thirdColor: #f4f4f4;
$fourthColor: #DD38B4; //Empty
$fifthColor: #39353D; //Empty
$sixthColor:#C3C4C7; //Empty
$whiteColor: #ffffff;
$regular-box-shadow: 0 0 10px #EAE5EE;
$transition-200ms: 0.2s ease-in-out;