@import "variables";

// Start Header //
header
{
    background-color: #F6F7FC;
    position: relative;
    .overlay
    {
        background-image: url(../../assets/images/contact_us_header_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .holder
    {
        position: relative;
        padding-top: 7em;
        padding-bottom: 7em;
        .main-title
        {
            color: $fourth-color;
            text-transform: uppercase;
            font-family: $font-family-en-medium;
        }
        .main-subtitle
        {
            width: 90%;
            color: $second-color;
            font-family: $font-family-en-bold;
            font-size: 55px;
        }
    }
}
// End Header //

// Start Media Query //
@media (max-width: 768px)
{
    // Start Header //
    header
    {
        .holder
        {
            padding-top: 5em;
            padding-bottom: 5em;
            .main-subtitle
            {
                font-size: 37px;
            }
        }
    }
    // End Header //
}
// End Media Query //