@import "variables";
@import "placeholders";
@import "home_slider";
@import "navbar";
@import "estimate-project";
@import "footer";

// Start Features //
.features
{
    margin-top: -80px;
    position: relative;
    padding-bottom: 4em;
    .features-cards
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .features-one-card
        {
            display: flex;
            flex-flow: row wrap;
            width: 31.5%;
            background-color: $first-color;
            border-radius: 15px;
            box-shadow: $regular-box-shadow;
            padding: 2em;
            .features-font-icon
            {
                color: $fourth-color;
                height: 55px;
                width: 55px;
                margin: 0 auto;
            }
            .gaming-icon
            {
                height: 65px;
                width: 65px;
            }
            .features-title
            {
                text-transform: capitalize;
                color: $third-color;
                width: 100%;
                text-align: center;
                font-family: $font-family-en-medium;
                font-size: 18px;
                margin: 1em 0 .6em;
            }
            .gaming-title
            {
                margin: -8px 0;
            }
            .features-description
            {
                color: $fifth-color;
                text-align: center;
                font-size: 15px;
            }
        }
    }
}
// End Features //

// Start About Us //
.about
{
    @extend .sections-padding;
    background-image: url(/assets/images/about_bg.png);
    background-size: 260px 410px;
    background-repeat: no-repeat;
    background-position: right 15% top 37%;
    .holder
    {
        display: flex;
        flex-flow: row wrap;
        .left
        {
            width: 50%;
            .content
            {
                width: 90%;
                .about-content
                {
                    font-size: 15px;
                }
                .read-more
                {
                    @extend .standard-btn;
                }
            }
        }
        .right
        {
            width: 50%;
            .about-img
            {
                width: 100%;
                border-radius: 150px 15px 150px  150px;
                margin-top: 2em;
            }
        }
    }
}
// End About Us //

// Start Statistics //
.statistics
{
    padding-top: 2em;
    padding-bottom: 2em;
    background-image: url(/assets/images/about_bg.png);
    background-size: 260px 410px;
    background-repeat: no-repeat;
    background-position: left 15% top 35%;
    .holder
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .total-years
        {
            width: 20%;
            .content
            {
                background-color: $third-color;
                height: 105px;
                width: 105px;
                border-radius: 50%;
                border: 11px solid #BF91EA;
                text-align: center;
                color: white;
                margin-left: 10%;
                .total-years-number
                {
                    font-family: $font-family-en-bold;
                    margin: 5px 0 -9px;
                    font-size: 45px;
                }
                .total-years-duration
                {
                    text-transform: uppercase;
                    font-size: 11px;
                }
            }
        }
        .totals
        {
            width: 15%;
            margin-top: 5px;
            .totals-title
            {
                color: $fifth-color;
                line-height: 1.5;
                font-size: 13px;
                font-family: $font-family-en-medium;
                margin: 0;
                &::after
                {
                    content: "";
                    width: 20px;
                    height: 1px;
                    background-color: $fourth-color;
                    display: block;
                    margin-top: 8px;
                }
            }
            .totals-number
            {
                font-family: $font-family-en-bold;
                margin: 0;
                margin-top: 8px;
                font-size: 30px;
                color: $second-color
            }
        }
    }
}
// End Statistics //

// Start Our Services //
.services
{
    @extend .sections-padding;
    margin: 5em 0 0;
    background-color: #F6F7FC;
    .holder
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .services-cards
        {
            width: 60%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .services-cards-left, .services-cards-right
            {
                width: 48%;
                .service-card
                {
                    background-color: $first-color;
                    border-radius: 15px;
                    box-shadow: $regular-box-shadow;
                    padding: 2em;
                    margin-bottom: 1em;
                    display: block;
                    transition: all .2s;
                    .service-icon
                    {
                        color: $fourth-color;
                        font-size: 30px;
                    }
                    .service-title
                    {
                        font-family: $font-family-en-medium;
                        color: $third-color;
                        margin: 1em 0 .5em;
                        font-size: 17px;
                    }
                    .service-description
                    {
                        color: $fifth-color;
                        font-size: 15px;
                        margin: 0;
                    }
                    &:hover
                    {
                        background-color: $third-color;
                        .service-icon, .service-title, .service-description
                        {
                            color: $first-color;
                        }
                    }
                }
            }
            .services-cards-right
            {
                padding-top: 2em;
            }
        }
        .services-description-section
        {
            width: 35%;
            padding-top: 7em;
            .read-more
            {
                @extend .standard-btn;
                color: $third-color;
            }
        }
    }
}
// End Our Services //

// Start Portfolio //
.portfolio
{
    padding-top: 6em;
    padding-bottom: 4em;
    .view-all
    {
        @extend .standard-btn;
        color: $third-color;
    }
    .portfolio-slider
    {
        width: 81%;
        margin: 3em 0 0 auto;
        .slick-list
        {
            border-radius: 15px 0 0 15px;
        }
        .item
        {
            width: 360px;
            height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-between;
            margin: 0 .5em;
            background-position: 50%;
            border-radius: 15px;
            outline: none;
            position: relative;
            overflow: hidden;
            .overlay
            {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 15px;
                height: 100%;
                width: 100%;
                background-color: $third-color;
                z-index: 1;
                transform: translateY(100%);
                transition: all .2s;
                padding: 2em;
                .fixed-title
                {
                    margin-top: 1em;
                }
                .fixed-subtitle
                {
                    font-size: 20px;
                }
                .fixed-title, .fixed-subtitle, .portfolio-card-description
                {
                    color: white;
                }
            }
            &:hover .overlay
            {
                transform: translateY(0);
            }
        }
        .slick-prev, .slick-next
        {
            top: -82px;
            &::before
            {
                font-size: 45px;
                color: $sixth-color;
            }
            &:hover:before
            {
                color: $third-color !important;
            }
        }
        .slick-prev
        {
            left: auto;
            right: 365px;
            &::before
            {
                content: "\1F850" !important;
            }
        }
        .slick-next
        {
            right: 315px;
            &::before
            {
                content: "\1F852" !important;
            }
        }
    }
}
// End Portfolio //

// Start Pricing //
.pricing
{
    @extend .sections-padding;
    .holder
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .pricing-description-section
        {
            width: 35%;
            padding-top: 7em;
            .subtitle
            {
                margin: .6em 0 .2em 0;
            }
            .fixed-subtitle
            {
                width: 90%;
                margin-top: 0;
            }
            .view-all
            {
                @extend .standard-btn;
                color: $third-color;
            }
        }
        .pricing-card
        {
            width: 30%;
            color: $first-color;
            box-shadow: $regular-box-shadow;
            text-align: center;
            padding: 3.5em 2em;
            border-radius: 15px;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all .2s;
            .card-title
            {
                color: $third-color;
                font-family: $font-family-en-medium;
                font-size: 20px;
                margin: 0;
            }
            .card-subtitle
            {
                color: $second-color;
                font-family: $font-family-en-medium;
                font-size: 13px;
                margin: 1em 0 0;
                &::after
                {
                    content: "";
                    width: 50px;
                    height: 1.5px;
                    background-color: #dddddf;
                    display: block;
                    margin: 0 auto;
                    margin-top: 1.7em;
                }
            }
            .card-price-box
            {
                color: $fourth-color;
                margin: 2.5em 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                .dollar-sign
                {
                    font-family: $font-family-nunito-en-bold;
                    font-size: 25px;
                    margin: 5px 5px 0 -20px;
                }
                .card-price
                {
                    font-family: $font-family-nunito-en-bold;
                    margin: 0;
                    font-size: 50px;
                }
                .card-duration
                {
                    width: 100%;
                    text-align: center;
                    color: $fifth-color;
                    margin: 0;
                    font-size: 11px;
                    text-transform: uppercase;
                }
            }
            .card-description
            {
                color: $fifth-color;
                font-family: $font-family-en-medium;
                font-size: 15px;
                margin: 0;
            }
            .card-subscription
            {
                @extend .standard-btn;
                color: $first-color;
                background-color: $third-color;
                margin-top: 2.5em;
                &:hover
                {
                    background-color: $third-color-hover;
                    border-color: $third-color-hover;
                }
            }
            &:hover
            {
                background-image: url(/assets/images/price-card-bg.png);
            }
        }
    }
}
// End Pricing //

// Start Media Query //
@media (min-width: 769px) and (max-width: 992px)
{
    // Start Features //
    .features
    {
        margin-top: -80px;
        padding-bottom: 2em;
        .features-cards
        {
            .features-one-card
            {
                padding: 1.5em 1em;
                .features-font-icon
                {
                    height: 45px;
                    width: 45px;
                }
                .gaming-icon
                {
                    height: 55px;
                    width: 55px;
                }
                .features-title
                {
                    font-size: 16px;
                }
                .gaming-title
                {
                    margin: -8px 0 -8px;
                }
                .features-description
                {
                    font-size: 13px;
                }
            }
        }
    }
    // End Features //

    // Start About Us //
    .about
    {
        background-size: 250px 350px;
        background-position: right 10% top 37%;
        .holder
        {
            .left
            {
                .content
                {
                    width: 90%;
                    .about-title
                    {
                        font-size: 14px;
                    }
                    .about-subtitle
                    {
                        margin: .4em 0;
                        font-size: 20px;
                    }
                    .about-content
                    {
                        font-size: 12px;
                    }
                    .read-more
                    {
                        margin-top: 0;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    // End About Us //
    
    // Start Statistics //
    .statistics
    {
        background-position: left 5% top 35%;
        .holder
        {
            .total-years
            {
                .content
                {
                    margin-left: 0;
                }
            }
        }
    }
    // End Statistics //

    // Start Our Services //
    .services
    {
        .holder
        {
            .services-cards
            {
                width: 65%;
                .services-cards-left, .services-cards-right
                {
                    .service-card
                    {
                        padding: 1.1em;
                        .service-title
                        {
                            font-size: 15px;
                        }
                        .service-description
                        {
                            font-size: 14px;
                        }
                    }
                }
                .services-cards-right
                {
                    padding-top: 1.5em;
                }
            }
            .services-description-section
            {
                width: 30%;
                padding-top: 5em;
                .fixed-title
                {
                    font-size: 13px;
                }
                .fixed-subtitle
                {
                    font-size: 23px;
                }
                .service-description
                {
                    font-size: 15px;
                }
                .read-more
                {
                    font-size: 13px;
                }
            }
        }
    }
    // End Our Services //

    // Start Portfolio //
    .portfolio
    {
        header
        {
            .holder 
            {
                .fixed-title
                {
                    font-size: 13px;
                }
                .fixed-subtitle
                {
                    font-size: 25px;
                }
            }
        }
        .portfolio-slider
        {
            width: 81%;
            margin: 3em 0 0 auto;
            .item
            {
                width: 310px;
                height: 250px;
                .overlay
                {
                    padding: 1.5em;
                    .fixed-title
                    {
                        margin-top: 0;
                    }
                    .fixed-subtitle
                    {
                        font-size: 18px;
                    }
                }
            }
            .slick-prev
            {
                left: auto;
                right: 165px;
                &::before
                {
                    content: "\1F850" !important;
                }
            }
            .slick-next
            {
                right: 115px;
                &::before
                {
                    content: "\1F852" !important;
                }
            }
        }
    }
    // End Portfolio //
    
    // Start Pricing //
    .pricing
    {
        .holder
        {
            .pricing-description-section
            {
                width: 30%;
                padding-top: 4em;
                .fixed-title
                {
                    font-size: 13px;
                }
                .subtitle
                {
                    font-size: 18px;
                }
                .fixed-subtitle
                {
                    font-size: 25px;
                }
                .view-all
                {
                    font-size: 13px;
                }
            }
            .pricing-card
            {
                width: 32.5%;
                padding: 2.5em 1.5em;
                .card-title
                {
                    font-size: 18px;
                }
                .card-price-box
                {
                    margin: 1.5em 0;
                }
                .card-description
                {
                    font-size: 14px;
                }
                .card-subscription
                {
                    margin-top: 1.5em;
                    font-size: 13px;
                }
            }
        }
    }
    // End Pricing //

}
@media (max-width: 768px)
{
    // Start Features //
    .features
    {
        margin-top: 0;
        padding: 3em 0 2em;
        .features-cards
        {
            .center-card
            {
                margin: 1.5em 0;
            }
            .features-one-card
            {
                width: 100%;
                .gaming-title
                {
                    margin: 0 0 .5em;
                }
            }
        }
    }
    // End Features //

    // Start About Us //
    .about
    {
        background-size: 200px 320px;
        background-position: right 15% top 9%;
        .holder
        {
            .left
            {
                width: 100%;
                order: 2;
                .content
                {
                    width: 100%;
                    .about-title
                    {
                        font-size: 15px;
                        text-transform: uppercase;
                        font-family: $font-family-en-medium;
                        color: $fourth-color;
                    }
                    .about-subtitle
                    {
                        font-family: $font-family-en-medium;
                        color: $second-color;
                        margin: .6em 0;
                    }
                    .about-content
                    {
                        font-size: 15px;
                    }
                    .read-more
                    {
                        margin-top: .5em;
                        display: inline-block;
                        color: $fifth-color;
                        text-transform: capitalize;
                        font-size: 14px;
                        font-family: $font-family-en-medium;
                        padding: 7px 25px;
                        border: 2px solid $third-color;
                        border-radius: 20px;
                        background-color: $first-color;
                        transition: all .2s;
                        &:hover
                        {
                            background-color: $third-color;
                            color: $first-color;
                        }
                    }
                }
            }
            .right
            {
                width: 80%;
                margin: 0 auto;
                order: 1;
                margin-bottom: 2em;
            }
        }
    }
    // End About Us //
    
    // Start Statistics //
    .statistics
    {
        background-position: left 15% top 0%;
        .holder
        {
            .total-years
            {
                width: 100%;
                .content
                {
                    margin: 0 auto;
                }
            }
            .totals
            {
                width: 100%;
                margin: 1.5em auto 0;
                text-align: center;
                .totals-title
                {
                    &::after
                    {
                        margin: 8px auto 0;
                    }
                }
            }
        }
    }
    // End Statistics //
    
    // Start Our Services //
    .services
    {
        .holder
        {
            .services-cards
            {
                order: 2;
                width: 100%;
                .services-cards-left, .services-cards-right
                {
                    width: 100%;
                }
                .services-cards-right
                {
                    padding-top: 0;
                }
            }
            .services-description-section
            {
                order: 1;
                width: 100%;
                padding-top: 0;
                margin-bottom: 2em;
            }
        }
    }
    // End Our Services //

    // Start Portfolio //
    .portfolio
    {
        .portfolio-slider
        {
            width: 90%;
            margin: 3em 0 0 auto;
            .item
            {
                width: 260px;
                height: 200px;
                .overlay
                {
                    padding: 1em;
                    .fixed-title
                    {
                        margin-top: 0;
                    }
                    .fixed-subtitle
                    {
                        font-size: 15px;
                    }
                    .portfolio-card-description
                    {
                        font-size: 13px;
                    }
                }
            }
            .slick-prev, .slick-next
            {
                display: none !important;
            }
        }
    }
    // End Portfolio //
    
    // Start Pricing //
    .pricing
    {
        padding-bottom: 1em;
        .holder
        {
            .pricing-description-section
            {
                width: 100%;
                padding-top: 0;
                margin-bottom: 1em;
            }
            .pricing-card
            {
                width: 100%;
                background-position: top -80% right 0%;
                margin-top: 1.5em;
            }
        }
    }
    // End Pricing //

}
// End Media Query //