$first-color: #ffffff;
$second-color: #0F0E0F;
$third-color: #8F41D5;
$third-color-hover:#a957f1;
$fourth-color: #DD38B4;
$fifth-color: #39353D;
$sixth-color:#C3C4C7;
$font-family-ar: 'bein';
$font-family-en-regular: 'montserrat-regular';
$font-family-en-medium: 'montserrat-medium';
$font-family-en-bold: 'montserrat-bold';
$font-family-nunito-en-bold: 'nunito-bold';
$regular-box-shadow: 0 0 10px #EAE5EE;

//font-face-ar
@font-face 
{
  	font-family: $font-family-ar;
  	src: url('../../assets/fonts/ar/beinNormal.ttf');
}

//font-face-en 1
@font-face 
{
  	font-family: $font-family-en-regular;
  	src: url('../../assets/fonts/en/Montserrat-Regular.ttf');
}

//font-face-en 2
@font-face 
{
  	font-family: $font-family-en-medium;
  	src: url('../../assets/fonts/en/Montserrat-Medium.ttf');
}

//font-face-en 3
@font-face 
{
  	font-family: $font-family-en-bold;
  	src: url('../../assets/fonts/en/Montserrat-Bold.ttf');
}

//font-face-en 4
@font-face 
{
  	font-family: $font-family-nunito-en-bold;
  	src: url('../../assets/fonts/en/Nunito-Bold.ttf');
}
